/* =============================================================================
   positioning
   ============================================================================= */

body { min-height: 100%; }

#position_wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: auto;
}

#wrapper {
	width: 100%;
	max-width: 60em; /* 960px / 16px */  
	min-height: 100%;
	margin: auto;
	overflow: auto;
	padding: 1em 0 1em 0;
}

/* =============================================================================
   simple fluid images
   ============================================================================= */

img,
object { max-width: 100%; }

/* =============================================================================
   grid
   ============================================================================= */

/**
* grid is designed for the mobile first approach
* every span has a width of 100% of its parent
**/

/* overflow hidden should prevent glitches with jquery animations */
.row { width: 100%; overflow: hidden; }

/** 
* clearfix to prevent collapsing heights for every
* row because elements of the span class are all floatet 
**/
.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}
.row {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/** 
* [class*='span'] selector selects all elements which 
* starts with "span" and applies the css attributs 
**/
[class*='span'] { 
		width: 100%;
		margin-right: 0;
		float: left;
}

[class*='offset'] {
	margin-right: 0;
}

/** 
* devices with a resolution equal or greater
* then 769px get the following layout 
**/

/* breakpoint
   ============================================================================= */
@media only screen and (min-width: 769px) {

	[class*='span'] { 
		display: block;
		float: left;
		margin-right: 3.2%;
	}

	/** 
	* last-of-type pseudo class removes the right margin
	* from the last span element of a row 
	**/
	[class*='span']:last-of-type {
  		margin-right: 0;
	}

	.span1 { width: 5.4%; }
	.span2 { width: 14%; }
	.span3 { width: 22.6%; }
	.span4 { width: 31.2%; }
	.span5 { width: 39.8%; }
	.span6 { width: 48.4%; }
	.span7 { width: 57%; }
	.span8 { width: 65.6%; }
	.span9 { width: 74.2%; }
	.span10 { width: 82.8%; }
	.span11 { width: 91.4%; }
	.span12 { width: 100%; }

	.offset1 { margin-left: 8.6%; }
	.offset2 { margin-left: 17.2%; }
	.offset3 { margin-left: 25.8%; }
	.offset4 { margin-left: 34.4%; }
	.offset5 { margin-left: 43%; }
	.offset6 { margin-left: 51.6%; }
	.offset7 { margin-left: 60.2%; }
	.offset8 { margin-left: 68.8%; }
	.offset9 { margin-left: 77.4%; }
	.offset10 { margin-left: 86%; }
	.offset11 { margin-left: 94.6%; }

}